{% extends 'base.html.twig' %}

{% block title %}Birthday reminder{% endblock %}


{% block body %}

<div class="example-wrapper">
    <h1>This month registrations</h1>
    <ul>
    {% for elem in data %}
        <li>City : {{ elem.city }} </li>
        <p>Registrations : {{ elem.registrations }}</p>
    {% endfor %}
    </ul>
</div>
{% endblock %}
